# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: dd4b410871e6b323da41502d792dc55a25b0eaf7497f5e423f0807fef1f3ef109fd9dacd0b4c2f0b7139670d818b9e94bdc4b08ebe0dabbe6130c3f8a19cbde2

test:
  secret_key_base: 607ac9983fea655ef503894b3e4a166428d124905c9aec55b55726685d3d11dde46c188a902c1150bb29e89851f70ef99039fb28aba0f7f7513f10c82f56f0d5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
