<div class="page-header">
  <h1>
    <%= t('activerecord.models.user') %>
    <small><i class="ace-icon fa fa-angle-double-right"></i>
      新增
    </small>
    <small class="pull-right" style="margin: -7px -8px 0 0">
      <a href="<%= admin_users_path %>" class="btn btn-default" title="列表">
        <i class="fa fa-plus icon-only"></i></a>
    </small>
  </h1>
</div>
<%= render 'form' %>

